.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px 0 0 30px;
  position: relative;
}

.nav__links {
  margin: 30px 80px 0 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link:hover {
  color: #2f80ed;
  transition: color 1s 0.5s;
}
